<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Drunkcart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70F1853A1C67D0AC00B02968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F185561C67D0AC00B02968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F185611C67D0AC00B02968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
